{{ entries:listing
   folder="{fold}"
   limit="{lim}"
   taxonomy="{tax}"
}}
  {{ if no_results }}
  <p>Sorry there are no entries to display at this time.</p>
  {{ else }}
  <p>{{ total_found }} entries found</p>
    {{ if first }}
    <div class="panel-group" id="entries-listing-group">
    {{ endif }}
      <article class="panel {{ if featured=="is_featured" }}panel-default{{ endif }}">
        <header class="panel-heading">
          <h3 class="article-heading"><a href="{{ url }}">{{ title }}{{ if featured=="is_featured" }}<span class="fa fa-fw fa-star-o pull-right" title="Featured Post"></span>{{ endif }}</a></h3>          
        </header>
        <div class="panel-body media">
          {{ if main_img|not_empty }}
          <a class="pull-left" href="{{ url }}">
            <img class="media-object img-thumbnail" src="{{ transform src="{ main_img }" width="96" height="96" action="smart" }}" alt="main image for {{ title }}">
          </a>
          {{ endif }}
          {{ if author || date || categories_list }}
          <div class="text-muted">
            <p>{{ if featured=="is_featured" }}Featured post{{ else }}Posted{{ endif }} 
              {{ if author|not_empty }}
              {{ member:profile member="{author}" }}
              by <span class="article__author">
              {{ if author_url }}<a href="{{ author_url }}">{{ endif }}
              {{ first_name }} {{ last_name }}
              {{ if author_url }}</a>{{ endif }}
              </span>
              {{ /member:profile }}
              {{ endif }}
              {{ if date }}
              on <span class="article__date"><time pubdate datetime="{{ datestamp format="Y-m-d" }}">{{ date }}</time></span>
              {{ endif }}
              {{ if categories_list }}
              in <span class="article__category">{{ categories_url_list|title }}</span>
              {{ endif }}
            </p>
          </div><!-- END .article__meta -->
          {{ endif }}
          <div class="media-summary">
            {{ if summary }}
            {{ summary|smartypants|markdown }}
            {{ else }}
            {{ content|striptags|truncate:250 }}
            {{ endif }}
          </div>
        </div><!-- END .panel-body .media -->
      </article>
    {{ if last }}
    </div>
    {{ endif }}

  {{ endif }}
{{ /entries:listing }}

{{ theme:partial src="_pagination" fold="{fold}" lim="{lim}" tax="{tax}" }} 
