<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<!-- meta -->
<meta charset="utf-8">
{{ theme:partial src="_meta" }}
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{# Place favicon.ico and apple-touch-icon.png in the root directory. Or uncomment the following... #}}
{{#
		<link rel="shortcut icon" href="assets/favicon.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="assets/icon.png"/>
#}}

<!-- styles -->
<!--[if gte IE 8]><!-->
{{ if show_framelessgrid }}
<link rel="stylesheet" href="{{ theme:css src="grid" }}"/>
{{ endif }}
<link rel="stylesheet" href="{{ theme:css }}"/>
<!--<![endif]-->

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}/feed" title="{{ _site_name }} RSS Feed">

<!-- scripts -->
<script src="{{ theme:js src="libs/modernizr-2.6.2.min" }}"></script>
<!--[if IE 8]>
<script src="{{ theme:js src='libs/DOMAssistantCompressed-2.8.1' }}"></script>
<script src="{{ theme:js src='libs/selectivizr-min' }}"></script>
<![endif]-->

<!-- analytics -->
{{ theme:partial src="_analytics" }}

</head>
{{# 
====================================
  NOTES
====================================

This is the document header partial.

#}}