/* ==========================================================================
   *** GRID HELPERS - DEBUGGING ONLY ***
   ========================================================================== */
#grid {
  height: 3em;
  position: relative;
  overflow: hidden; }

.col {
  background: #e8e8e8;
  height: 100%;
  width: 3em;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 1em; }

#grid .col {
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out; }

.col2 {
  margin-left: 6em; }

.col3 {
  margin-left: 11em; }

.col4 {
  margin-left: 16em; }

.col5 {
  margin-left: 21em; }

.col6 {
  margin-left: 26em; }

.col7 {
  margin-left: 31em; }

.col8 {
  margin-left: 36em; }

.col9 {
  margin-left: 41em; }

.col10 {
  margin-left: 46em; }

.col11 {
  margin-left: 51em; }

.col12 {
  margin-left: 56em; }

.col13 {
  margin-left: 61em; }

.col14 {
  margin-left: 66em; }

.col15 {
  margin-left: 71em; }

.col16 {
  margin-left: 76em; }

.col17 {
  margin-left: 81em; }

.col18 {
  margin-left: 86em; }

.col19 {
  margin-left: -4em; }

.col20 {
  margin-left: -9em; }

.col21 {
  margin-left: -14em; }

.col22 {
  margin-left: -19em; }

.col23 {
  margin-left: -24em; }

.col24 {
  margin-left: -29em; }

.col25 {
  margin-left: -34em; }

.col26 {
  margin-left: -39em; }

.col27 {
  margin-left: -44em; }

.col28 {
  margin-left: -49em; }

.col29 {
  margin-left: -54em; }

.col30 {
  margin-left: -59em; }

.col31 {
  margin-left: -64em; }

.col32 {
  margin-left: -69em; }

.col33 {
  margin-left: -74em; }

.col34 {
  margin-left: -79em; }

.col35 {
  margin-left: -84em; }

.col36 {
  margin-left: -89em; }

/* media query based changes */
@media screen and (min-width: 15em) {
  .col1, .col2, .col19, .col20 {
    background: #171717; } }
@media screen and (min-width: 30em) {
  #grid {
    height: 3em; }

  .col3, .col21 {
    background: #171717; } }
@media screen and (min-width: 37.5em) {
  #grid {
    height: 3em; }

  .col4, .col22 {
    background: #171717; } }
@media screen and (min-width: 57em) {
  #grid {
    height: 3em; }

  .col5, .col6, .col23, .col24 {
    background: #171717; } }
@media screen and (min-width: 118em) {
  #grid {
    height: 3em; }

  .col7, .col8, .col9, .col10, .col11, .col12, .col13,
  .col25, .col26, .col27, .col28, .col29, .col30, .col31 {
    background: #171717; } }
